.nested-fields
	%br/
	= f.label :response, "Answer"
	/ = link_to_remove_association "Remove Answer", f, class: "label label-danger"
	= f.cktext_area :answer, :cols => 10, :ckeditor => { :toolbar => 'full'}
	/ = f.label :video
	/ = f.file_field :video