%h1 All questions

=render "questions/table", questions: @questions #extracted the table from here to a helper
/ = will_paginate @questions, renderer: BootstrapPagination::Rails

/ -if current_user && current_user.is_moderator? || current_user.is_admin?
	
/ 

