%h1 Questions for this Topic #{@topic.name}

-if @topic.is_sample?
	%p This topic is a sample, All users have access to the answers for this topic
	= link_to 'Remove sample', topic_undo_sample_path(@topic), class: "btn btn-primary"
	%br
-else
	%p This topic is a Not a sample
	%br
	= link_to 'Make sample', topic_make_sample_path(@topic), class: "btn btn-primary"
	%br


-if @questions.nil?
	%br
	%p
		There are no Questions for this topic yet. Questions are added in the subtopics section
	%br
-else
	%br
	=render "questions/table", questions: @questions#the table that was previously here was extracted to the partial to be DRY. seems like I needed it more than I thought! :-)
/ # = link_to 'Back to ...', request.env["HTTP_REFERER"], class: "btn btn-primary"