%h1 Questions for this Topic #{@topic.name}


-if @questions.nil?
	%p
		There are no Questions for this topic yet
	%br
		= link_to 'New Question', new_question_path, class: "btn btn-primary"
-else
	=render "questions/table", questions: @questions#the table that was previously here was extracted to the partial to be DRY. seems like I needed it more than I thought! :-)
/ # = link_to 'Back to ...', request.env["HTTP_REFERER"], class: "btn btn-primary"