= simple_form_for(@type) do |f|
  = f.error_notification

  .form-inputs
    = f.input :type_name
    
  .form-inputs
    =f.label :System
    =f.select :system_id, System.all.map { |s| [s.system_name, s.id]}

  .form-actions
    = f.button :submit
