%h1 Listing subtopics

=render "subtopics/table", subtopics: @subtopics 

-if current_user && current_user.is_moderator? || current_user.is_admin?
  = link_to 'New Subtopic', new_subtopic_path, class: "btn btn-primary"
