%h1 Listing subtopics

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @subtopics.each do |subtopic|
      %tr
        %td= link_to 'Show', subtopic
        %td= link_to 'Edit', edit_subtopic_path(subtopic)
        %td= link_to 'Destroy', subtopic, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

=render "subtopics/table", subtopics: @subtopics 

-if current_user && current_user.is_moderator? || current_user.is_admin?
  = link_to 'New Subtopic', new_subtopic_path, class: "btn btn-primary"
