%table.table.table-hover
  %thead
    %tr
      %th Name
      

  %tbody
    - @courses.each do |course|
      %tr
        %td= course.name
        %td
          = link_to 'Edit', edit_course_path(course)
          = link_to 'Destroy', course, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
