%table.table.table-hover
  %thead
    %tr
      %th Name
      

  %tbody
    - units.each do |unit|
      %tr
        %td= unit.name
        %td= link_to unit.semester.name, semesters_path
        %td
          = link_to 'Edit', edit_unit_path(unit)
          = link_to 'Destroy', unit, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br