%h1 Listing units

=render "units/table", units: @units #extracted the table from here to a helper

-if current_user && current_user.is_moderator? || current_user.is_admin?
	= link_to 'New Unit', new_unit_path, class: "btn btn-primary"
