%h1 Questions for this Unit #{@unit.name}


-if @questions.nil?
	%p
		There are no Questions for this Unit yet
		
-else

	=render "questions/table", questions: @questions#the table that was previously here was extracted to the partial to be DRY. seems like I needed it more than I thought! :-)

