%h1 DOCUMENT: #{@questions.count} Questions, #{@answers.count} Answers

/ = link_to 'Process Questions', upload_process_questions_path(@questions), :method => :post,:data => { :confirm => 'Are you sure?' }, class: "btn btn-primary"

%table.table.table-hover
  %thead
    %tr
      %th Question
      %th ANSWERS
      %th

  %tbody
    -@questions.zip(@answers).each do |question, answer|
      %tr
        %td=question.html_safe
        %td
          -if answer.nil?
            %p No Answer for this question
          -else
            =answer.html_safe
       


/ = link_to 'Process Questions', upload_process_questions_path(@questions), :method => :post,:data => { :confirm => 'Are you sure?' }, class: "btn btn-primary"
