%h1 DOCUMENT

/ = link_to 'Process Questions', upload_process_questions_path(@questions), :method => :post,:data => { :confirm => 'Are you sure?' }, class: "btn btn-primary"

%table.table.table-hover
  %thead
    %tr
      %th Question
      %th Options
      %th

  %tbody
    -@questions.each_with_index do |question, index|
      %tr
        %td=question.html_safe
        %td=index

/ = link_to 'Process Questions', upload_process_questions_path(@questions), :method => :post,:data => { :confirm => 'Are you sure?' }, class: "btn btn-primary"

%h1 ANSWERS

%table.table.table-hover
  %thead
    %tr
      %th Question
      %th Options
      %th

  %tbody
    -@answers.each_with_index do |answer, index|
      %tr
        %td=answer.html_safe
        %td=index