%h1 Processed Questions


/ %table.table.table-hover
/   %thead
/     %tr
/       %th Question
/       %th Options
/       %th

/   %tbody
/     -@questions.each_with_index do |question, index|
/       %tr
/         %td=question.html_safe
/         %td=index

/ = link_to 'Process Questions', upload_process_document_path(@upload.id), :method => :post,:data => { :confirm => 'Are you sure?' }, class: "btn btn-primary"