= javascript_include_tag :defaults, :cache => true

%h1 Listing exams


=render "exams/table", exams: @exams






-if current_user.is_moderator?
	= link_to 'New Exam', new_exam_path
-else
	=render "terms", exam: @exams

