= javascript_include_tag :defaults, :cache => true

%h1 Listing exams


=render "exams/table", exams: @exams






-if current_user.is_moderator? || current_user.is_admin?
	= link_to 'New Exam', new_exam_path, class: "btn btn-primary" 
-else
	=render "terms", exam: @exams
