%h1 Year

%table.table.table-hover
  %thead
    %tr
      %th Name
      

  %tbody
    - @years.each do |year|
      %tr
        %td=  year.year
        %td
          -if current_user && current_user.is_admin?
            = link_to 'Edit', edit_year_path(year)
            = link_to 'Destroy', year, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
/ =render "semesters/table", semesters: @semesters
-if current_user && current_user.is_admin?
  = link_to 'New year', new_year_path, class: "btn btn-primary"
